@model List<LMS.Dto.MenuDto>
<li class="sidebar-toggler-wrapper hide">
    <div class="sidebar-toggler">
        <span></span>
    </div>
</li>
@if (Model.Count > 0)
{
    var LstMenu = Model.Where(x => x.ParentId == null).OrderBy(x => x.OrderNumber);
    var lstMenuSub = Model.Where(x => x.ParentId != null);

    foreach (var item in LstMenu)
    {
        var lstSub = lstMenuSub.Where(x => x.ParentId == item.Id).OrderBy(x => x.OrderNumber);
        if (lstSub.Count() > 0)
        {
            <li class="nav-item" id="nav-@item.Id">
                <a class="nav-link nav-toggle">
                    <i class="@item.Icon"></i>
                    <span class="uppercase title">@ResourceManagement.GetResourceText(item.ResourceID, item.NameVI, item.NameEN)</span>
                    <span class="arrow" id="nav-span-@item.Id"></span>
                </a>
                <ul class="sub-menu">
                    @foreach (var sub in lstSub)
                    {
                        var lstSubSecond = lstMenuSub.Where(x => x.ParentId == sub.Id).OrderBy(x => x.OrderNumber).ToList();
                        if (lstSubSecond.Count > 0)
                        {
                            <li class="nav-item" id="nav-@sub.Controller.ToLower()-@sub.Action.ToLower()">
                                <a class="nav-link nav-toggle">
                                    <span class="title">@ResourceManagement.GetResourceText(sub.ResourceID, sub.NameVI, sub.NameEN)</span>
                                    <span class="arrow" id="nav-span-@sub.Controller.ToLower()-@sub.Action.ToLower()"></span>
                                </a>
                                <ul class="sub-menu">
                                    @foreach (var sub2 in lstSubSecond)
                                    {
                                        <li class="nav-item" id="nav-@item.Controller.ToLower()-@sub.Controller.ToLower()-@sub2.Controller.ToLower()">
                                            <a href="@Url.Action(sub2.Action.ToLower(), sub2.Controller.ToLower())" class="nav-link ">
                                                <span class="title">@ResourceManagement.GetResourceText(sub2.ResourceID, sub2.NameVI, sub2.NameEN)</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item" id="nav-@sub.Controller.ToLower()-@sub.Action.ToLower()">
                                <a href="@Url.Action(sub.Action.ToLower(), sub.Controller.ToLower())" class="nav-link">
                                    <span class="title">@ResourceManagement.GetResourceText(sub.ResourceID, sub.NameVI, sub.NameEN)</span>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </li>
        }
        else
        {
            <li class="nav-item" id="nav-@item.Controller.ToLower()">
                <a href="/admin" class="nav-link nav-toggle">
                    <i class="@item.Icon"></i>
                    <span class="uppercase title">@ResourceManagement.GetResourceText(item.ResourceID, item.NameVI, item.NameEN)</span>
                </a>
            </li>
        }
    }
}
else
{
    <li class="nav-item active open" id="nav-none">
        <a href="/admin" class="nav-link nav-toggle">
            <i class="glyphicon glyphicon-home"></i>
            <span class="uppercase title">@ResourceManagement.GetResourceText("SystemResourceID.Home", "Trang chủ", "Home")</span>
        </a>
    </li>
}





