@model NewsRightMenuModel
@{ 
    Layout = null;
}
<!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
<div class="c-content-tab-1 c-theme">
    <div class="nav">
        <ul class="nav nav-tabs">
            <li class="c-title c-font-bold c-font-uppercase active"><a href="#blog_recent_posts" data-toggle="tab">Tin mới nhất</a></li>
            <li class="c-title c-font-bold c-font-uppercase"><a href="#blog_popular_posts" data-toggle="tab">Tin đọc nhiều</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="blog_recent_posts">
                <ul class="c-content-recent-posts-1">
                    @if (Model.NewestNews != null && Model.NewestNews.Any())
                    {
                        foreach (var item in Model.NewestNews)
                        {
                            <li>
                                <div class="c-image">
                                    <img src="/webportal/viewnewsimage/?id=@item.Id" alt="" class="img-responsive">
                                </div>
                                <div class="c-post">
                                    <div class="c-date">@item.DisplayPublishDate</div>
                                    <a href="/webportal/newsdetail?id=@item.Id" class="c-title">
                                        @item.Title
                                    </a>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="tab-pane" id="blog_popular_posts">
                <ul class="c-content-recent-posts-1">
                    @if (Model.MostReadNews != null && Model.MostReadNews.Any())
                    {
                        foreach (var item in Model.MostReadNews)
                        {
                            <li>
                                <div class="c-image">
                                    <img src="/webportal/viewnewsimage/?id=@item.Id" class="img-responsive" alt="" />
                                </div>
                                <div class="c-post">
                                    <div class="c-date">@item.DisplayPublishDate</div>
                                    <a href="/webportal/newsdetail?id=@item.Id" class="c-title">
                                        @item.Title
                                    </a>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="c-content-ver-nav">
    <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
        <h3 class="c-font-bold c-font-uppercase">SÁCH HAY</h3>
        <div class="c-line-left c-theme-bg"></div>
    </div>
    <ul class="c-menu c-arrow-dot1 c-theme">
        @if (Model.BestBooks != null && Model.BestBooks.Any())
        {
            foreach (var item in Model.BestBooks)
            {
                <li><a href="/webportal/booksdetail?id=@item.BibliographicId">@item.Title</a></li>
            }
        }
    </ul>
</div>
<div class="c-content-ver-nav">
    <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
        <h3 class="c-font-bold c-font-uppercase">SÁCH ĐỌC NHIỀU</h3>
        <div class="c-line-left c-theme-bg"></div>
    </div>
    <ul class="c-menu c-arrow-dot1 c-theme">
        @if (Model.MostReadBooks != null && Model.MostReadBooks.Any())
        {
            foreach (var item in Model.MostReadBooks)
            {
                <li><a href="/webportal/booksdetail?id=@item.BibliographicId">@item.Title</a></li>
            }
        }
    </ul>
</div>
<!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1 -->